<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <system.serviceModel>
    <!--<services>
      <service name="DayOfWeek.Service.DayOfWeekService">
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="DayOfWeek.Service.IDayOfWeekService"/>
      </service>
    </services>-->

    <!--<behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>-->
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
        multipleSiteBindingsEnabled="true" />

    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint defaultOutgoingResponseFormat="Json" helpEnabled="true" />
      </webHttpEndpoint>
    </standardEndpoints>

  </system.serviceModel>
</configuration>
