<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMessageService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:58759/TestService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IMessageService" contract="ServiceReferenceMessages.IMessageService"
        name="BasicHttpBinding_IMessageService" />
    </client>
    <services>
      <service name="MmessageService.MessageService">
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="MmessageService.IMessageService" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>